<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="br.com.alamoweb.sqlite"
        version="0.7.0">

  <name>SQLite</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/sqlite.js" target="js/sqlite.js"/>

  <js-module src="www/sqlite.js" name="sqlite">
    <clobbers target="sqlite" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SQLite">
        <param name="android-package" value="br.com.alamoweb.plugin.SQLite"/>
      </feature>
    </config-file>

    <source-file src="src/android/SQLite.java" target-dir="src/br/com/alamoweb/plugin/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="SQLite">
        <param name="ios-package" value="SQLite" />
      </feature>
    </config-file>

    <header-file src="src/ios/SQLite.h" target-dir="SQLite"/>
    <source-file src="src/ios/SQLite.m" target-dir="SQLite"/>
  </platform>

</plugin>