<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="br.com.alamoweb.sqlitehelper"
        version="0.7.0">

  <name>SQLiteHelper</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/sqlitehelper.js" target="js/sqlitehelper.js"/>

  <js-module src="www/sqlitehelper.js" name="sqlitehelper">
    <clobbers target="sqlitehelper" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SQLiteHelper">
        <param name="android-package" value="br.com.alamoweb.plugin.SQLiteHelper"/>
      </feature>
    </config-file>

    <source-file src="src/android/SQLiteHelper.java" target-dir="src/br/com/alamoweb/plugin/"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="SQLiteHelper">
        <param name="ios-package" value="SQLiteHelper" />
      </feature>
    </config-file>

    <header-file src="src/ios/SQLiteHelper.h" target-dir="SQLiteHelper"/>
    <source-file src="src/ios/SQLiteHelper.m" target-dir="SQLiteHelper"/>
  </platform>

</plugin>